{% extends 'base.html' %}
{% block content %}

    <h2>User Info</h2>
    <ul>
      <li>Age: {{ user.age }}</li>
      <li>Zipcode: {{ user.zipcode }}</li>
      {% if user.ratings %}

        <h3>Ratings: </h3><br>
          <table>
            <tr>
              <th>Movie title</th>
              <th>Rating</th>
            </tr>
          {% for rating in user.ratings %}
            <tr>
              <td><a href="{{rating.movie_info.imdb_url}}">{{ rating.movie_info.title }}</a></td>
              <td>{{ rating.score }}</td>
            </tr>
          {% endfor %}
        </table>
        
      {% else %}
        <p>You have not rated any movies yet!</p> 
      {% endif %}   
      
    </ul>

{% endblock %}